@media (max-width:1270px) {
    .test-logo {
        width: auto;
    }
    .content-menu {
        width: 18%;
    }
    .product-card {
        padding: 10px;
    }
}

@media (max-width:1200px) {
    .callback {
        flex-direction: column;
    }

    .callback-btn {
        width: 100%;
    }
    .test-content {
        margin-bottom: 20px;
    }
    .filter-container-nav-item {
        padding: 0;
    }
    .filter-select {
        width: 175px;
    }
    .catalog-product-cards {
        flex-wrap: wrap;
    }
    .product-card {
        width: 50%;
    }
    .product-card-img {
        margin: auto;
    }
    .product-card-characteristic {
        margin-bottom: 30px;
    }
    .subscription-form-input {
        min-width: 280px;
    }
    .footer-web-surfing-block {
        min-width: 120px;
    }
    .footer-logo {
        width: 140px;
    }
    .footer-info-section {
        padding-top: 15px;
    }
    .functional-footer-section {
        margin-bottom: 20px;
    }
}

@media (max-width:992px) {
    .test-container {
        margin-top: 20px;
    }
    .test-logo {
        display: none;
    }
    .callback {
        flex-direction: row;
        margin-top: 10px;
    }
    .callback-btn {
        width: auto;
    }
    .test-content {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .web-site-menu {
        margin-top: 20px;
    }
    .content-menu {
        display: none;
    }
    .nav-menu {
        display: none;
    }
    .mobile-menu-btn {
        display: block;
    }
    .functional-footer-section {
        flex-direction: column;
    }
    .subscription-footer-section {
        margin-right: 0;
    }
    .subscription-footer-title-container {
        align-items: center;
    }
    .subscription-container {
        justify-content: center;
    }
    .subscription-form-input {
        min-width: 340px;
    }
    .footer-section-web-surfing {
        justify-content: space-around;
        margin-top: 25px;
    }
    .footer-info-section {
        flex-direction: column;
    }
    .footer-info-social-linc {
        margin: 20px 0;
    }
}

@media (max-width:768px) {
    .callback {
        flex-direction: column;
    }
    .callback-btn {
        width: 100%;
    }
    .test-content {
        margin-bottom: 45px;
    }
    .filter-container-nav-item {
        flex-direction: column;
    }
    .filter-container-cvg-img {
        max-height: 40px;
        margin: 0;
    }
    .tab-bg {
        margin: 10px 20px;
    }
    .filter-select-section {
        flex-direction: column;
    }
    .filter-select {
        width: 100%;
        margin-top: 5px;
    }
    .select-media {
        width: 49%;
    }
    .filter-container {
        max-height: 100%;
    }
    .product-card-rating {
        flex-direction: column;
        align-items: flex-start;
    }
    .product-card-tidings-img {
        width: 80px;
    }
    .product-card-tidings-name {
        left: 56%;
    }
}